@model AnigramsNotebook.EF.NBImage

@using (Html.BeginForm("Edit", "Images", new { projectId = ViewBag.ProjectId, showHidden = ViewBag.ShowHidden }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.NBImageId)
    @Html.HiddenFor(model => model.CreatedOn)
    @Html.HiddenFor(model => model.ObjectCategoryId)
    @Html.HiddenFor(model => model.Filename)

    <div class="mdl-grid demo-content">
        <div class="demo-charts demo-cards mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-color-text--white mdl-color--light-blue">
                <i class="material-icons" role="presentation">camera_alt</i>
                <h2 class="mdl-card__title-text">Update Image</h2>
            </div>
            <div class="mdl-card__supporting-text" style="min-height:375px;box-sizing:border-box;overflow-y:auto;padding:10px">
                @Html.ValidationSummary(true, "", new { @class = "" })

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                    <label class="mdl-textfield__label" for="name">Name</label>
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "mdl-textfield__error" })
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" value="" class="mdl-textfield__input" id="nBProjectId" readonly>
                    <input type="hidden" value="" name="nBProjectId">
                    <label for="nBProjectId" class="mdl-textfield__label">Project</label>
                    <ul for="nBProjectId" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="max-height:200px;overflow-y:auto;">
                        @foreach (var item in ViewBag.NBProjectId)
                        {
                            <li class="mdl-menu__item" data-val="@item.Value" @(item.Selected ? "data-selected='true'" : "")>@item.Text</li>
                        }
                    </ul>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" value="" class="mdl-textfield__input" id="objectId" readonly>
                    <input type="hidden" value="" name="objectId">
                    <label for="objectId" class="mdl-textfield__label">Object</label>
                    <ul for="objectId" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="max-height:200px;overflow-y:auto;">
                        @foreach (var item in ViewBag.ObjectId)
                        {
                            <li class="mdl-menu__item" data-val="@item.Value" @(item.Selected ? "data-selected='true'" : "")>@item.Text</li>
                        }
                    </ul>
                </div>

                <div class="element file mdl-file mdl-js-file mdl-file--floating-label">
                    <input type="file" name="files" id="files" accept=".jpg,.gif,.png,.svg">
                    <label class="mdl-file__label" for="files">New Image</label>
                </div>

                <div class="grid" id="result">
                    <div class="grid-sizer grid-item--width2"></div>
                </div>

                <div>
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="IsActive">
                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "mdl-switch__input" } })
                        <span class="mdl-switch__label">Display in results</span>
                    </label>
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/profile-index.js"></script>
}
