<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A catalog of the people, places, and things that comprise Anigrams' various projects. Designed by and for Anigrams to be a useful world-building tool.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>The Anigrams Notebook</title>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    @*<link rel="icon" sizes="192x192" href="images/android-desktop.png">*@
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="The Anigrams Notebook">
    @*<link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">*@
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    @*<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">*@
    <meta name="msapplication-TileColor" content="#3372DF">
    @*<link rel="shortcut icon" href="images/favicon.png">*@
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <link href="~/Content/getmdl-select.min.css" rel="stylesheet" />
    <link href="~/Content/mdl-file.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/Content/styles.css">
</head>
<body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color--white mdl-color-text--grey-600">
            <div class="mdl-layout__header-row">
                <a href="@Url.Action("Index", "Home", new { projectId = ViewBag.ProjectId, showHidden = ViewBag.ShowHidden })" class="mdl-color-text--grey-600" style="text-decoration:none;display: flex;align-items: center;">
                    <i class="material-icons" role="presentation" style="margin-right:12px">content_paste</i> <span class="mdl-layout-title" style="display:inline;">The Anigrams Notebook</span>
                </a>
                <div class="mdl-layout-spacer"></div>
                @using (Html.BeginForm("Index", "Search", new { projectId = ViewBag.ProjectId, showHidden = ViewBag.ShowHidden }, FormMethod.Post))
                {
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="query">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="query" name="query">
                        <label class="mdl-textfield__label" for="query">Enter your query...</label>
                    </div>
                </div>
                }
                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { projectId = ViewBag.ProjectId, showHidden = !ViewBag.ShowHidden })" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon reduce-margin" id="hidebtn">
                    <i class="material-icons">@(ViewBag.ShowHidden ? "lock_open" : "lock_outline")</i>
                </a>
                <div class="mdl-tooltip mdl-tooltip--large" for="hidebtn">
                    @(ViewBag.ShowHidden ? "Hide Hidden" : "Show Hidden")
                </div>

                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon reduce-margin" id="hdrbtn">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="hdrbtn" style="height:400px;overflow-y:auto;">
                    @foreach (var item in ViewBag.MenuOptions)
                    {
                        <li class="mdl-menu__item">
                            <i class="material-icons" style="color:@item.Color">@item.IconName</i>
                            <a href="@Url.Action("Create", item.CategoryName, new { projectId = ViewBag.ProjectId, showHidden = ViewBag.ShowHidden })">Add @item.CategoryName</a>
                        </li>
                    }
                    <li class="mdl-menu__item">
                        <i class="material-icons mdl-color-text--black">equalizer</i>
                        <a href="@Url.Action("Create", "Categories", new { projectId = ViewBag.ProjectId, showHidden = ViewBag.ShowHidden })">Add Category</a>
                    </li>
                    <li class="mdl-menu__item">
                        <i class="material-icons mdl-color-text--deep-orange">attach_file</i>
                        <a href="@Url.Action("Create", "Associations", new { projectId = ViewBag.ProjectId, showHidden = ViewBag.ShowHidden })">Add Connection</a>
                    </li>
                    <li class="mdl-menu__item">
                        <i class="material-icons mdl-color-text--deep-orange">help_outline</i>
                        <a href="@Url.Action("Create", "Prompts", new { projectId = ViewBag.ProjectId, showHidden = ViewBag.ShowHidden })">Add Question</a>
                    </li>
                    <li class="mdl-menu__item">
                        <i class="material-icons mdl-color-text--deep-orange">bookmark_border</i>
                        <a href="@Url.Action("Create", "Resources", new { projectId = ViewBag.ProjectId, showHidden = ViewBag.ShowHidden })">Add Bookmark</a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="demo-drawer mdl-layout__drawer mdl-color--pink mdl-color-text--white">
            <header class="demo-drawer-header">
                <div class="demo-avatar-dropdown">
                    <span>@ViewBag.ProjectName</span>
                    <div class="mdl-layout-spacer"></div>
                    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons" role="presentation">arrow_drop_down</i>
                        <span class="visuallyhidden">Projects</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                        @foreach (var item in ViewBag.Projects)
                        {
                            <li class="mdl-menu__item">
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { projectId = item.NBProjectId, showHidden = ViewBag.ShowHidden })">@item.Name</a>
                            </li>
                        }
                        <li class="mdl-menu__item"><a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { projectId = 0, showHidden = ViewBag.ShowHidden })">All Projects</a></li>
                    </ul>
                </div>
            </header>
            <nav class="demo-navigation mdl-navigation mdl-color--white mdl-color-text--grey-600">
                @foreach (var item in ViewBag.MenuOptions)
                {
                    <a class="mdl-navigation__link" href="@Url.Action("Index", item.CategoryName, new { projectId = ViewBag.ProjectId, showHidden = ViewBag.ShowHidden })">
                        <i class="material-icons" role="presentation" style="color:@item.Color">@item.IconName</i>
                        @item.CategoryName
                        <span class="mdl-badge">@ViewData[item.CategoryName + "Count"]</span>
                    </a>
                }
            </nav>
        </div>
        <main class="mdl-layout__content mdl-color--grey-100">
            @RenderBody()
        </main>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="~/Scripts/getmdl-select.min.js"></script>
    <script src="~/Scripts/mdl-file.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
