@model AnigramsNotebook.EF.NBNote

@using (Html.BeginForm("Create", "Notes", new { projectId = ViewBag.ProjectId, showHidden = ViewBag.ShowHidden }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ObjectCategoryId)

    <div class="mdl-grid demo-content">
        <div class="demo-charts demo-cards mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-color-text--white mdl-color--lime">
                <i class="material-icons" role="presentation">style</i>
                <h2 class="mdl-card__title-text">Create New</h2>
            </div>
            <div class="mdl-card__supporting-text">
                @Html.ValidationSummary(true, "", new { @class = "" })

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                    <label class="mdl-textfield__label" for="name">Name</label>
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "mdl-textfield__error" })
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" value="" class="mdl-textfield__input" id="nBProjectId" readonly>
                    <input type="hidden" value="" name="nBProjectId">
                    <label for="nBProjectId" class="mdl-textfield__label">Project</label>
                    <ul for="nBProjectId" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="max-height:200px;overflow-y:auto;">
                        @foreach (var item in ViewBag.NBProjectId)
                        {
                            <li class="mdl-menu__item" data-val="@item.Value" @(item.Selected ? "data-selected='true'" : "")>@item.Text</li>
                        }
                    </ul>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" value="" class="mdl-textfield__input" id="objectId" readonly>
                    <input type="hidden" value="" name="objectId">
                    <label for="objectId" class="mdl-textfield__label">Object</label>
                    <ul for="objectId" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="max-height:200px;overflow-y:auto;">
                        @foreach (var item in ViewBag.ObjectId)
                        {
                            <li class="mdl-menu__item" data-val="@item.Value" @(item.Selected ? "data-selected='true'" : "")>@item.Text</li>
                        }
                    </ul>
                </div>

                <div class="element file mdl-file mdl-js-file mdl-file--floating-label">
                    <input type="file" name="file" id="file" accept=".jpg,.gif,.png,.svg">
                    <label class="mdl-file__label" for="file">Upload</label>
                </div>

                <div>
                    <span>Insert: </span>
                    <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" id="btnh3" style="text-transform:lowercase">&lt;h3&gt;</button>
                    <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" id="btnul" style="text-transform:lowercase">&lt;ul&gt;</button>
                    <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" id="btnli" style="text-transform:lowercase">&lt;li&gt;</button>
                    <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" id="btnarrow" style="text-transform:lowercase">-&gt;</button>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.TextAreaFor(model => model.Description, new { @class = "mdl-textfield__input", @rows = "9" })
                    <label class="mdl-textfield__label" for="Description">Description</label>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "mdl-textfield__error" })
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}